body {
   text-align: center;
}

.btn {
   width: 200px;
   height: 200px;
   border-radius: 20%;
   border: 10px solid #121212;
   margin: 2.5rem;
}

.btn-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.blue {
   background-color: #401f71;
}
.yellow {
   background-color: #fdc81b;
}

.red {
   background-color: #ff204e;
}

.green {
   background-color: #114232;
}

.flash {
   background-color: #fff;
}

.userflash {
   background-color: #2debf1;
}
